html {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom left, #8658c9, #191919);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  color: white;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body > .pure-g {
  height: 100%;
}

#particles {
  position: relative;
  height: 100%;
}

#particles h1 {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 200;

  margin-top: -0.5rem;
  margin-left: -150px;
}

#particles h1 img {
  width: 32px;
  margin-bottom: -5px;
  margin-right: 7px;
}

#hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1em;
}

#hero p {
  font-weight: 300;
  font-size: 1.1rem;
}

.fa {
  margin-right: 0.75rem;
}

#buttons {
  padding-top: 1.5rem;
}

#buttons .pure-button {
  text-transform: uppercase;
  margin-right: 0.5rem;
  transition: all 0.2s;
}

#buttons .pure-button:hover {
  box-shadow: 0 0 10px #191919;
  background-image: none;
  background-color: white;
  margin-top: -5px;
}

h2 {
  font-family: 'Source Code Pro';
  font-size: 1.5em;
  display: inline;
}

.cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;

  color: white;
  display: inline;
  font-size: 2em;
  position: relative;
  bottom: -0.1em;
  left: 0em;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#content {
  padding: 1em;
  height: 100%;
  position: relative;
}

.pure-menu {
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  padding: 1em;
  z-index: 10;
}

.pure-menu a {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  border: 2px solid transparent;
  transition: border-color 0.25s linear;
  text-align: left;
}

.pure-menu a:hover, .pure-menu a:focus {
  background: transparent;
  border-color: white;
}

@media screen and (max-width: 767px) {
  .pure-menu {
    text-align: center;
  }

  #content, #hero {
    position: static;
  }

  #particles, #content {
    height: 50%;
  }
}

@media screen and (max-height: 320px) {
  #content {
    display: none;
  }
}
